{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pong Game</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
  </head>
  <body>
    <div class="window app">
      <div class="title-bar">
        <div class="title-bar-text">ft_transcendence</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body app__body">
        <div class="function-bar">
          <div class="function-bar__button-container">
            <a class="function-bar__button" href="/">
              <img src="static/icons/pifmgr.dll_14_26.png" alt="Game" class="function-bar__button-icon" />
              <span>Game</span>
            </a>
            <a class="function-bar__button" href="/profile">
              <img src="static/icons/msmsgs.exe_14_1-6.png" alt="Profile" class="function-bar__button-icon" />
              <span>My Profile</span>
            </a>
          </div>
          <div class="function-bar__button-container">
            <button class="function-bar__button">
              <img src="static/icons/gnome-logout.png" alt="Sign Out" class="function-bar__button-icon" />
              <span>Sign Out</span>
            </button>
          </div>
        </div>
        <div class="app__content">
          <div class="app__sidebar">
            <div class="users-list">
              <div class="users-list__header">
                <span>Users</span>
              </div>
              <div class="users-list__content">
                <a href="/users/1" class="users-list__item">
                  <img src="static/icons/user-busy.png" alt="Profile" class="users-list__item-icon" />
                  <span>John Doe</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
