<section id="profile">
  <h2>Your Profile</h2>
  <div class="profile-section">
    <div id="profile-info">
      <img id="profile-picture-preview" src="" class="profile-img" alt="Profile Image" />
      <p><span id="current-alias"></span></p>
    </div>
    <button id="edit-name-button" class="button-54" style="display: none">Modifier le pseudo</button>
    <div id="edit-name-section">
      <form id="edit-name-form">
        <label for="new-alias">Nouveau pseudo :</label>
        <input type="text" id="new-alias" name="new-alias" />
        <button class="button-54" type="submit">Valider</button>
      </form>
    </div>
    <button id="edit-photo-button" class="button-54" style="display: none">Modifier la photo</button>
    <div id="edit-profile-picture-section">
      <form id="edit-profile-picture-form">
        <label for="new-profile-picture">Nouvelle image :</label>
        <select id="new-profile-picture">
          <option value="static/profiles/profile1.png">Image 1</option>
          <option value="static/profiles/profile2.png">Image 2</option>
          <option value="static/profiles/profile3.png">Image 3</option>
          <option value="static/profiles/profile4.png">Image 4</option>
        </select>
        <button class="button-54" type="submit">Valider</button>
      </form>
    </div>
    <button id="logout-button" class="button-54">Délog</button>
  </div>
</section>
