<section id="profile">
  <h2>Your Profile</h2>
  <div class="profile-section">
    <div id="profile-info">
      <img id="profile-img-preview" src="" class="profile-img" alt="Profile Image" />
      <p><span id="current-alias"></span></p>
    </div>
    <button id="edit-name-button" class="button-54" style="display: none">Modifier le pseudo</button>
    <div id="edit-name-section" style="display: none">
      <form id="edit-name-form">
        <label for="new-alias">Nouveau pseudo :</label>
        <input type="text" id="new-alias" name="new-alias" />
        <button class="button-54" type="submit">Valider</button>
      </form>
    </div>
    <button id="edit-photo-button" class="button-54" style="display: none">Modifier la photo</button>
    <div id="edit-photo-section" style="display: none">
      <form id="edit-photo-form">
        <label for="new-profile-img">Nouvelle image :</label>
        <select id="new-profile-img">
          <!-- Dynamically add options here -->
        </select>
        <button class="button-54" type="submit">Valider</button>
      </form>
    </div>
    <button id="logout-button" class="button-54">Délog</button>
  </div>
</section>
